
h1{ color: tomato;}
img{width: 400px}
#thirdDiv
{ 
    width: 500px;
    height: 600px;
    background-color: olivedrab;
    padding: 50px;
    border-width: 25px;
    border-color: rgb(122, 42, 33);
    border-style: solid;
}
#spanId
{
    font-size: 18px;
    margin: 50px;
}